PORT=3100
DYNAMODB_TABLE=TenkaCloud-dev
DYNAMODB_ENDPOINT=http://localhost:4566
AWS_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
CORS_ORIGIN=http://localhost:13001,http://localhost:13000,http://localhost:3000
AUTH_SKIP=1
