services:
  control-plane-ui:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "13000:13000"
    environment:
      - AUTH_SECRET=${AUTH_SECRET}
      - AUTH_URL=${AUTH_URL:-http://localhost:13000}
      - AUTH_KEYCLOAK_ID=${AUTH_KEYCLOAK_ID}
      - AUTH_KEYCLOAK_SECRET=${AUTH_KEYCLOAK_SECRET}
      - AUTH_KEYCLOAK_ISSUER=${AUTH_KEYCLOAK_ISSUER:-http://localhost:8080/realms/tenkacloud}
    env_file:
      - .env.local
    depends_on:
      - keycloak
    networks:
      - tenkacloud

  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    command: start-dev
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - "8080:8080"
    networks:
      - tenkacloud

networks:
  tenkacloud:
    driver: bridge
