name: ci
permissions:
  contents: read
on:
  push:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Install packages via packages.json
        run: make install_ci
      - name: Run textlint
        run: |
          make lint_text
      - name: Format check
        run: |
          make format_check

  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Control Plane UI Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend/control-plane
          file: ./frontend/control-plane/Dockerfile
          push: false
          tags: tenkacloud/control-plane-ui:test
          cache-from: type=gha
          cache-to: type=gha,mode=max
